<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdmin">
                    <security mode="None">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/service/Service1/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IService"
                contract="srv.IService" name="WSDualHttpBinding_IService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/service/Service1/admin"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdmin"
                contract="srv.IAdmin" name="BasicHttpBinding_IAdmin" />
        </client>
    </system.serviceModel>
</configuration>